
.characterWindowContainer {
  padding-top: 24px;
  padding-left: 48px;
}

.characterImageContainer {
  display: block;
  max-width: 500px;
  max-height: 500px;
  height: 500px;
}

.dummyCharacterImage {
  background-color: gray;
  height: 100%;
  width: auto;
}

.informationBox {
  border: 1px solid black;
  display: block;
  width: 300px;
  margin-top: 24px;
}