

.characterWindowContainer {
  padding-top: 24px;
  padding-left: 48px;
}

.characterImageContainer {
  display: block;
  height: 500px;
  width: 300px;
  /* background-color: gray; */
  position: relative;
}

.informationBox {
  border: 1px solid black;
  display: block;
  width: 300px;
  margin-top: 24px;
  background-image: url('./assets/wooden-textured-background.jpg');
  color: white;
  /* <a href="https://www.freepik.com/free-photo/wooden-textured-background_2768392.htm#query=wooden%20texture&position=3&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik */
}

.characterImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}

.topImage {
  position: absolute;
  top: 100px;
  left: 75px;
  height: 50%;
  width: 50%;
  object-fit: contain;
  display: none;
}