

.inventoryWindowContainer {
  background-image: url('./assets/wooden-textured-background.jpg');
  color: white;
  /* <a href="https://www.freepik.com/free-photo/wooden-textured-background_2768392.htm#query=wooden%20texture&position=3&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik */
}

.inventoryWindow {
  display: grid;
  width: 75%;
  height: 100vh;
  grid-template-columns: auto 24px;
  
}

.menuButton {
  padding: 8px 16px;
}

.minimizeButton {
  height: 100vh;
  padding: 8px;
}

.galleryContainer {
  height: 75vh;
  padding: 48px;
  overflow-y: scroll;
  background-image: url('./assets/texture-background.jpg');
  /* <a href="https://www.freepik.com/free-photo/texture-background_1167463.htm#query=wooden%20texture&position=46&from_view=search&track=sph">Image by yingyang</a> on Freepik */
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 300px;
  height: 360px;
  display: grid;
  grid-template-rows: auto 60px;
  margin-right: 24px;
  margin-bottom: 24px;
  color: black;
  background-image: url('./assets/grunge-vintage-old-paper-background.jpg');
  box-shadow: 0px 0px 8px black;
  /* <a href="https://www.freepik.com/free-photo/grunge-vintage-old-paper-background_1273370.htm#query=old%20paper&position=4&from_view=keyword">Image by aopsan</a> on Freepik */
}

.itemImageContainer {
  width: 300px;
  height: 300px;
  /* background-color: gray; */
}

.itemImage {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.equip-button {
  font-size: 12px;
  padding: 8px 16px;
}